#container {
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 0;
}

.container-click-newForm {
  height: 75px;
}

.red {
  background-color: rgb(180, 15, 15);
}

/* new post */
#profil {
  clip-path: ellipse(50% 50%);
  width: 20%;
  height: 70px;
}

#newPost {
  padding: 5px 10px;
  float: right;
  border-radius: 10px;
  font-size: 15px;
  color: #091f43;
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(206, 204, 204);
  border-bottom: 5px solid rgb(129, 128, 128);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

#newPost:hover {
  cursor: pointer;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid rgb(129, 128, 128);
}

/* modal  */

#modal {
  width: 700px;
  background-color: rgb(182, 180, 180);
}

#modal-basic-title {
  width: 90%;
}

.bouton-container {
  height: 70px;
}

#img-modal {
  max-width: 100px;
}

/* top post */

.card {
  width: 85%;
  margin: 0 auto;
  background-color: #091f43;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(102, 101, 101);
  font-size: 80%;
  cursor: pointer;
  color: #fff;
}

#card-header {
  border-radius: 10px 10px 0 0;
}

.img {
  max-width: 8rem;
  border-radius: 10px;
  ;
}

.icone {
  font-size: 80%;
  padding-right: 3%;
}

#content {
  max-height: 8rem;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

#lien-post {
  position: absolute;
  width: 100%;
  height: 100%;
}
