<div class="bg-secondary text-white mx-auto" id="container">
  <h1 class="text-center pt-3" *ngIf="!isAuth">Inscription</h1>

  <form [formGroup]="userForm" class="p-5">

    <!-- input photo -->
    <div class="form-group row">
      <label for="photo" class="col-sm-3 col-form-label pb-3">Photo de profil</label>
      <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" name="photo" class="ml-3">
      <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;">
    </div>

    <!-- input nom -->
    <div class="form-group row">
      <label for="firstname" class="col-sm-3 col-form-label pb-3">Nom</label>
      <div class="col-sm-9">
        <input type="text" class="form-control w-50" id="firstname" formControlName="firstname" placeholder="Nom"
          required>
        <div *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)" class="alert alert-danger">
          <div *ngIf="f.firstname.errors.required">
            Le champ "nom" est obligatoire.
          </div>
          <div *ngIf="f.firstname.errors.minlength">
            Le nom doit avoir au moins deux caractères.
          </div>
          <div *ngIf="f.firstname.errors.maxlength">
            Le nom ne peut avoir plus de 45 caractères.
          </div>
        </div>
      </div>
    </div>

    <!-- input prénom -->
    <div class="form-group row">
      <label for="lastname" class="col-sm-3 col-form-label">Prénom</label>
      <div class="col-sm-9">
        <input type="text" class="form-control w-50" id="lastname" formControlName="lastname" placeholder="Prénom"
          required>
        <div *ngIf="f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)" class="alert alert-danger">
          <div *ngIf="f.lastname.errors.required">
            Le champ "prénom" est obligatoire.
          </div>
          <div *ngIf="f.lastname.errors.minlength">
            Le prénom doit avoir au moins deux caractères.
          </div>
          <div *ngIf="f.lastname.errors.maxlength">
            Le prénom ne peut avoir plus de 45 caractères.
          </div>
        </div>
      </div>
    </div>

    <!-- input département -->
    <div class="form-group row pt-3">
      <label for="department" class="col-sm-3 col-form-label">Département</label>
      <div class="col-sm-9">
        <select class="form-select bg-light w-50 d-inline" aria-label="Select department" formControlName="department"
          required>
          <option value="">-- Departement --</option>
          <option value="rh">RH</option>
          <option value="comptabilite">Comptabilité</option>
          <option value="apresvente">Après-vente</option>
          <option value="serviceclient">Service client</option>
          <option value="marketing">Marketing</option>
          <option value="commercial">Commercial</option>
        </select>
        <div *ngIf="f.department.invalid && (f.department.dirty || f.department.touched)" class="alert alert-danger">
          <div *ngIf="f.department.errors.required">
            Le champ "département" est obligatoire.
          </div>
        </div>
      </div>
    </div>

    <!-- input email -->
    <div class="form-group row pt-3">
      <label for="email" class="col-sm-3 col-form-label pb-3">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control w-50" id="email" formControlName="email" placeholder="Email" required>
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
          <div *ngIf="f.email.errors.required">
            Le champ "email" est obligatoire.
          </div>
          <div *ngIf="f.email.errors.email">
            Email invalide.
          </div>
        </div>
      </div>
    </div>

    <!-- input mot de passe -->
    <div class="form-group row">
      <label for="password" class="col-sm-3 col-form-label pb-3">Mot de passe</label>
      <div class="col-sm-9">
        <input type="password" class="form-control w-50" id="password" formControlName="password"
          placeholder="Mot de passe" required>
      </div>
      <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
        <div *ngIf="f.password.errors.required">
          Le champ "mot de passe" est obligatoire.
        </div>
        <div *ngIf="f.password.errors.pattern">
          "Le mot de passe doit contenir entre 8 et 25 caractères avec au moins 1 majuscule, 1 minuscule et 1 chiffre,
          sans espace"
        </div>
      </div>
    </div>

    <!-- input repete mot de passe -->
    <div class="form-group row">
      <label for="password2" class="col-sm-3 col-form-label fw-bold">Confirmer votre mot de passe</label>
      <div class="col-sm-9">
        <input type="password" class="form-control w-50" id="password2" formControlName="password2"
          placeholder="Confirmer mot de passe" required>
        <div *ngIf="f.password2.invalid && (f.password2.dirty || f.password2.touched)" class="alert alert-danger">
          <div *ngIf="f.password2.errors.required">La confirmation du mot de passe est obligatoire</div>
          <div *ngIf="f.password2.errors.mustMatch">Les mots de passe doivent être identiques</div>
        </div>
      </div>
    </div>

    <!-- bouton validation -->
    <div class="form-group row button py-2">
      <button type="submit" class="btn btn-secondary" id="btn" (click)="onSubmit()"
        [disabled]="userForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>
