<!-- Post -->
<div id="idpost">
  <div class="card text-white mt-5 mb-0" id="blue">
    <!-- Card header -->
    <div class="card-header bg-dark d-flex justify-content-between align-items-center" id="card-header">
      <div>
        Posté le {{ post.date | date: 'd/MM/y' }} à {{ post.date | date: 'HH:mm' }} par <a id="click-user"
          (click)="onClickNamePost(post)" title="profil"> {{ post.firstname | titlecase }}
          {{ post.lastname | titlecase }}</a>
      </div>
      <div id="container">
        <i class="fas fa-pen mr-2" (click)="openPost(modifyPostForm, post)" id="modif" title="Modifier"
          *ngIf="userId === post.userId"></i>
        <i class="far fa-trash-alt text-danger" (click)="onDeletePost(post)" id="delete" title="Supprimer"
          *ngIf="userId === post.userId || admin === true"></i>
      </div>
      <div>
        <i class="fas fa-thumbs-up mr-1" id="liked" (click)="onLiked(post)" title="J'aime"></i>{{ post.liked }}
        <i class="fas fa-comments mr-1 pl-2"></i> {{ post.nb_comments }}
      </div>
    </div>

    <!-- Card body -->
    <div class="card-body">
      <h5 class="card-title text-center">{{ post.titre }}</h5>
      <img class="card-img-top img rounded mx-auto d-block" [src]="post.image" alt="Card image cap">
      <p class="card-text mt-2">{{ post.content }}</p>
    </div>
  </div>

  <div class="m-0 container-comment">
    <!-- New Comment -->
    <div class="form-group m-0 p-0 text-white">
      <form [formGroup]="newCommentForm" class="d-flex">
        <textarea class="form-control content bg-secondary text-white" formControlName="content" required
          placeholder="Ecrire un commentaire ...."></textarea>
        <div *ngIf="ncf.content.invalid && (ncf.content.dirty || ncf.content.touched)" class="alert alert-danger">
          <div *ngIf="ncf.content.errors.required">
            Le champ "contenu" est obligatoire.
          </div>
          <div *ngIf="ncf.content.errors.maxlength">
            Le champ contenu ne peut avoir plus de 1000 caractères.
          </div>
        </div>
        <button type="submit" class="btn btn-light btn-new-comment" (click)="onSubmitNewComment(post)"
          [disabled]="newCommentForm.invalid">Enregistrer</button>
      </form>
    </div>

    <!-- Comments -->
    <div *ngFor="let comment of comments" class=" text-white mx-0">
      <div class="bg-dark d-flex justify-content-between align-items-center py-2 pl-4" id="comments">
        <div>
          Posté le {{ comment.date | date: 'd/MM/y' }} à {{ comment.date | date: 'HH:mm' }}
        </div>
        <div id="trash" class="pr-5">
          <i class="far fa-trash-alt text-danger" (click)="onDeleteComment(comment)" id="delete"
            *ngIf="userId === comment.userId || admin === true"></i>
        </div>
      </div>
      <div class="p-1 bg-secondary d-flex align-items-center">
        <a id="click-user" (click)="onClickNameComment(comment)">
          <img [src]='comment.photo' alt="photo de profil" class="ml-3" id="profil"
            [title]="comment.firstname + ' ' + comment.lastname">
        </a>
        <p class="mt-2 pl-3">{{ comment.content }}</p>
      </div>
    </div>
  </div>

  <!-- Modal Post -->
  <ng-template #modifyPostForm let-modal>
    <div id="modal">
      <div class="modal-body">
        <h4 class="modal-title d-inline-block text-white bg-secondary text-center p-1" id="modal-basic-title">Modifier
          Post</h4>
        <button type="button" class="close ml-2 p-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">X</span>
        </button>
        <form [formGroup]="postForm" class="p-5" (ngSubmit)="onSubmitPost(post)">

          <!-- input titre -->
          <div class="form-group row pt-3">
            <label for="titre" class="col-sm-2 col-form-label pb-3">Titre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control w-50" name="titre" formControlName="titre"
                placeholder="titre du post" required>
              <div *ngIf="f.titre.invalid && (f.titre.dirty || f.titre.touched)" class="alert alert-danger">
                <div *ngIf="f.titre.errors.required">
                  Le titre est obligatoire.
                </div>
                <div *ngIf="f.titre.errors.maxlength">
                  Le champ titre ne peut dépasser 63000 caractères.
                </div>
              </div>
            </div>
          </div>

          <!-- input image -->
          <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label pb-3">Image</label>
            <div class="col-sm-10">
              <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" name="image">
              <img [src]="imagePreview" *ngIf="imagePreview" id="img">
            </div>
          </div>

          <!-- input content -->
          <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Contenu</label>
            <div class="col-sm-10">
              <textarea class="form-control " name="content" formControlName="content" required
                placeholder="Contenu du post ...."></textarea>
              <div *ngIf="f.content.invalid && (f.content.dirty || f.content.touched)" class="alert alert-danger">
                <div *ngIf="f.content.errors.required">
                  Le champ "contenu" est obligatoire.
                </div>
                <div *ngIf="f.content.errors.maxlength">
                  Le champ contenu ne peut avoir plus de 2000 caractères.
                </div>
              </div>
            </div>
          </div>

          <!-- bouton validation -->
          <div class=" bouton-container d-flex justify-content-around align-items-start p-2">
            <button type="submit" class="btn btn-secondary" id="valid-modal" (click)="modal.close('Save click')"
              [disabled]="postForm.invalid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>
