header {
  height: 125px;
  background-image: url("../../../assets/fond-header.png");
}

#profil {
  clip-path: ellipse(50% 50%);
  width: 90px;
  height: 100px;
}

#logo {
  width: 55%;
  height: 55%;
}

#logout {
  font-size: 3rem;
}

#profil:hover,
#logout:hover {
  cursor: pointer;
}
